<html>
    <head lang="en">
        <meta charset="UTF-8">
        
        <style>

            #MainDiv{
                width: 100%;
                text-align:center;
                display: flex;
                justify-content: center;
            }

            #EncompassingDiv{
                border: 2px solid #EEEFEC; 
                /* border: solid #000; */
                /* border-width:1px 0 0 1px !important; */
            }

            .horizontalThickBar{
                /* will make bar appear when putting in email */
                border-top: solid 4px black ;

                width:100%;
                text-align:center;

                /* will make bar appear in webpage */
                /* border: none;
                height: 4px;
                background-color: black; */
            }

            .horizontalThinBar{
                /* border-top: solid 4px black; */
                width:100%;
                text-align:center;
                
                border: none;
                height: 1px;
                color: #EEEFEC; /* old IE */
                background-color: #EEEFEC; /* Modern Browsers */
            }

            .centerable{
                text-align: center;
                color: #555559;
                font-family: Arial, sans-serif;
                font-size: 1.05em;
            }

            .container{
                /* display: flex;
                justify-content: center; */
                text-align: center;

            }

            .padded{
                padding: 1em;
            }

            .textie{
                color: #555559;
                font-family: Arial, sans-serif;
                font-size: 1.05em;
                /* text-align: left; */
            }

            .dataHeader{
                font-weight: bold;
                float: left;
            }

            .dataVal{
                float: left;
            }

            .wrapper{
                overflow: hidden;
            }

            .button{
                color:#ffffff;
                background-color: #131F28;
                border: 20px solid #131F28; 
                border-left: 20px solid #131F28;
                border-right: 20px solid #131F28;
                border-top: 10px solid #131F28;
                border-bottom: 10px solid #131F28;
                border-radius: 3px;
                text-decoration:none;
                
            }

            .margined{
                margin: 1em;
            }
            
            table{
                margin-left: auto;
                margin-right: auto;
            }

            td{
                text-align: left;
            }


        </style>
    </head>
    <body>
    
        <div id="MainDiv">
            <div id="EncompassingDiv">
                <div id="TopDiv" class="centerable">
                    <a href="https://www.excel-pros.com/">
                        <img class="top-image" src="https://drive.google.com/uc?id=1-THewlPSfOq9begAMNpu2DiR64kNXlhx&export=download" style="line-height: 1;width: 250px; margin: 10px;"  alt="Excel Pros">
                    </a>
                    <!-- Own Energy -->
                </div>
                
                <hr class="horizontalThickBar"/>
            
                <div id="MiddleDiv" class="centerable padded">
                    
                    <div id="MidofMiddle" class="textie" style="margin-left: 15%; margin-right: 15%">
                        <h1>Password Setup Successful</h1>
                        <p>
                            Hi <%= userName %>, you have successfully changed your password and your account is set up.
                        </p>

                        <p>
                            You may now login to the system.
                        </p>
                        <p>
                            If you did not request this change, please contact your manager immediately.
                        </p>
                    </div>

                    
                </div>

                <hr class="horizontalThickBar"/>


                <div id="BottomDiv" class="centerable" style="font-size: x-small;">
                        <strong>
                            <a href="https://www.excel-pros.com/" style="color:black;">Excel Pros</a>
                        </strong>

                        <br>
                        +1 (647) 706-6755
                        <br>
                        info@excel-pros.com
                </div>

            </div>

        <!-- Learning how to center and left align -->
       
        </div>
    </body>
</html>